.contact{
    margin-top: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 1.5em;

}

.icons>a, .header>h3  {
    text-decoration: none;
    position: relative;
}
  
  
.icons>a::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 3px;
    bottom: 0;
    left: 0;
    background-color: #4b4c4c;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}
  
.icons>a:hover::after{
    color: grey;
    transform: scaleX(1);
    transform-origin: bottom left;
}