.header{
    display: flex;
    max-width: 1100px;
    width: 95%;
    margin: 0 auto;
    justify-content: space-between;

    height: 5em;
    align-items: center;

    border-bottom: 2px solid black;
}

a{
    color: rgb(32, 32, 32);
}

.navbar{
    display: flex;
}

.list{
    display: flex;

}

.list>a{
    margin-right: 2em;
    font-weight: 500;
    position: relative;
    padding-bottom: 0.2em;
    color: rgb(82, 83, 83);
}



.list>a::after, .header>h3::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 3px;
  bottom: 0;
  left: 0;
  background-color: #4b4c4c;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.list>a:hover::after, .header>h3:hover::after{
  color: grey;
  transform: scaleX(1);
  transform-origin: bottom left;
}