.projects{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 3em;
    border-bottom: 2px solid;
}

.projects>h2{
    margin: 1em;
}


.project-list{
    display: flex;
}

.project-card{

    margin: 0.5em;
    max-width: 350px;
    width: 100%;
    box-sizing: border-box;
    height: 17em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border-radius: 15px;
    padding: 1em 1.5em 0 1.5em;
    transition: 0.5s;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.desc{
    text-align: center;
}

.tech-stack{
    display: flex;    
}

.tech-stack>p{
    margin: 0.3em;
    font-weight: 600;
}

.project-card:hover{
    transform:scale(1.05)
}

@media (max-width:600px){

    .project-list{
        flex-direction: column;
    }

    .project-card{
        margin: 1em;
        max-width: 300px;
    }

    .tech-stack>p{
        font-size: small;
    }
}