.skills{
    margin-top: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 3em;
    border-bottom: 2px solid;
}

.skill-box{
    margin: 1em;
    display: flex;
    align-items: center;
}

.skill-list{
    margin-top: 1em;
    max-width: 700px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
